body {
  font-family: 'Acme', sans-serif;
}

@media (min-width: 769px) {
  :root {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 16px;
    font-size: 1rem;
  }
}

.header {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background: -moz-radial-gradient(#FFF, #fff478 40%, #eb4823);
  background: -webkit-radial-gradient(#FFF, #fff478 40%, #eb4823);
  background: radial-gradient(#FFF, #fff478 40%, #eb4823);
}

.header img {
  width: 100%;
  height: 100%;
}

.hareabout {
  padding: 20vh 32px 20vh;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .hareabout {
    padding: 16px;
    flex-direction: column;
  }
}

.haremember {
  width: 40%;
}

@media (max-width: 768px) {
  .haremember {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
}

.haredescription {
  width: 50%;
}

@media (max-width: 768px) {
  .haredescription {
    width: 100%;
  }
}

.hareabout__theme {
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .hareabout__theme {
    text-align: center;
    margin-bottom: 24px;
  }
}

.haremember__list {
  margin-bottom: 16px;
}

.haredescription__text {
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 1;
}

@media (max-width: 768px) {
  .haredescription__text {
    font-size: 16px;
    font-size: 1rem;
  }
}

.harelive {
  height: 100%;
}

.harelive img {
  width: 100%;
  height: 100%;
}

.haremusic {
  padding: 32px;
  text-align: center;
  width: 100vw;
  color: #0a0a0a;
}

@media (min-width: 769px) {
  .haremusic {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .haremusic {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 24px;
  }
}

@media screen and (max-width: 350px) {
  .haremusic {
    margin: 0 auto;
    width: 100%;
    padding: 12px;
  }
}

.haremusic__lyrics {
  line-height: 1.5;
  white-space: pre-line;
  word-wrap: break-word;
}

.harephoto {
  width: 100vw;
}

.harephoto img {
  width: 100%;
  height: 100%;
}

.harefooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
}

.hareback {
  text-decoration: underline;
}

.hareback a {
  color: #f5f5f5;
}
