@charset "UTF-8";
body {
  font-family: 'Acme', sans-serif;
}

@media (min-width: 769px) {
  :root {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 16px;
    font-size: 1rem;
  }
}

.load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #f7f7f7;
  z-index: 9999;
}

.load img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-animation: loadimg 1500ms ease-out forwards infinite;
  animation: loadimg 1500ms ease-out forwards infinite;
}

@keyframes loadimg {
  from, to {
    width: 0;
  }
  50% {
    width: 10%;
  }
}

.load__animation {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  color: #131212;
  -webkit-animation: loadanimetion 1500ms ease-out forwards infinite;
  animation: loadanimetion 1500ms ease-out forwards infinite;
}

@keyframes loadanimetion {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
}

.sp-header {
  display: none;
}

.pc-header {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
}

.pc-header__nav {
  display: flex;
  height: 48px;
  line-height: 48px;
}

.pc-header__list {
  margin: 0 32px 0 32px;
}

.pc-header__list a {
  color: #F5F5F5;
  position: relative;
}

.pc-header__list a::after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: -4px;
  left: 0;
  height: 0.1rem;
  background: #F5F5F5;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.pc-header__list a:hover::after {
  transform: scale(1, 1);
}

@media (max-width: 768px) {
  .pc-header {
    display: none;
  }
  .sp-header {
    display: block;
  }
  .drawer {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
  }
  #drawer-btn {
    position: fixed;
    right: 32px;
    width: 45px;
    height: 45px;
    margin-top: 32px;
    z-index: 120;
    transition: 0.3s;
    cursor: pointer;
  }
  #drawer-btn span {
    position: fixed;
    right: 32px;
    width: 45px;
    height: 3px;
    margin-top: 32px;
    border-radius: 2px;
    background-color: #F5F5F5;
    transition: all .5s;
  }
  #drawer-btn span:nth-of-type(1) {
    top: 9px;
  }
  #drawer-btn span:nth-of-type(2) {
    top: 18px;
  }
  #drawer-btn span:nth-of-type(3) {
    top: 27px;
  }
  /* 最初のspanをマイナス45度に */
  #drawer-btn.active span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* 2番目と3番目のspanを45度に */
  #drawer-btn.active span:nth-child(2),
  #drawer-btn.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #drawer-menu {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  #drawer-menu .drawer-menu__hidden {
    width: 100%;
    height: calc(100% / 5);
    z-index: 110;
    cursor: pointer;
  }
  #drawer-menu .drawer-menu__hidden a {
    display: block;
    text-align: center;
    padding-top: 30px;
    color: #F5F5F5;
  }
}

body {
  overflow: auto;
}

body.active {
  overflow: hidden;
}

body::before {
  content: "";
  width: 100%;
  height: 100vh;
  display: block;
  background-image: url(../img/selfphoto1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(0);
}

.profile {
  color: #ffffff;
}

.profile-name {
  width: 40vw;
  margin-left: auto;
  text-align: center;
  position: absolute;
  top: 20%;
  right: 5%;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .profile-name {
    width: 100%;
    position: absolute;
    top: 15%;
    right: 0;
    border-radius: 0;
  }
}

.profile-name__inner {
  width: 100%;
  font-size: 2.5vw;
  line-height: 2;
  letter-spacing: 8px;
}

@media (max-width: 768px) {
  .profile-name__inner {
    font-size: 20px;
  }
}

.profile-text {
  padding: 100vh 16px 128px 16px;
}

@media (min-width: 769px) {
  .profile-text {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .profile-text {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.profile-text__title {
  font-size: 40px;
  padding: 16px;
  text-align: center;
}

@media (min-width: 769px) {
  .profile-text .profile-text__about {
    width: 50%;
    line-height: 1.5;
    letter-spacing: 3px;
  }
  .profile-text .profile-text__about .profile-text__about--link a {
    color: #f06e57;
    font-size: 24px;
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .profile-text .profile-text__about {
    line-height: 1.5;
  }
  .profile-text .profile-text__about .profile-text__about--link a {
    color: #f06e57;
    font-size: 20px;
  }
}

.slideimg {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 40px 0;
}

/* 全体のスタイル */
.swiper-wrapper {
  width: 100%;
  height: 320px;
}

@media (max-width: 768px) {
  .swiper-wrapper {
    height: 240px;
  }
}

/* 全スライド共通スタイル */
.swiper-slide {
  color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 320px;
}

@media (max-width: 768px) {
  .swiper-slide {
    line-height: 240px;
  }
}

.swiper-slide:nth-child(1) {
  background-image: url(../img/selfslide2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(2) {
  background-image: url(../img/selfslide3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(3) {
  background-image: url(../img/selfslide5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-wrap {
  height: 100vh;
  background-image: url(../img/Beard.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.news {
  width: 100%;
  padding: 48px 32px;
  background: rgba(223, 223, 223, 0.9);
  color: #333333;
}

.news a {
  color: #333333;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .news {
    padding: 32px 16px;
  }
}

.news__title {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-size: 1.875rem;
}

.news table {
  width: 100%;
}

@media (min-width: 769px) {
  .news table th {
    padding: 16px;
    border: 1px solid #333333;
    background: #828282;
  }
  .news table td {
    padding: 16px;
    line-height: 1.5;
  }
  .news table .td-last {
    width: 40%;
  }
}

@media (min-width: 769px) {
  .news table .td-place::before {
    content: "［place］";
  }
}

@media (max-width: 768px) {
  .news table tr {
    border-bottom: 16px solid #828282;
  }
  .news table th {
    display: none;
  }
  .news table td {
    display: block;
    width: 100%;
    padding: 8px;
    line-height: 1.5;
  }
  .news table .td-event::before {
    content: "events　: ";
  }
  .news table .td-place::before {
    content: "place　: ";
  }
  .news table .td-join {
    padding-bottom: 24px;
  }
  .news table .td-join::before {
    content: "join　: ";
  }
}

.live {
  height: 440px;
  background: rgba(0, 0, 0, 0.9);
}

.live-visual {
  width: 400px;
  height: 400px;
}

@media (min-width: 769px) {
  .slideshow img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 5px double #f6f6f6;
  }
  .slideshow {
    padding-top: 20px;
  }
  .live-1 {
    position: absolute;
    left: 5%;
  }
  .live-2 {
    position: absolute;
    left: 20%;
  }
  .live-3 {
    position: absolute;
    left: 40%;
  }
  .live-4 {
    position: absolute;
    right: 5%;
  }
  .live-5 {
    position: absolute;
    right: 20%;
  }
  .live-6 {
    position: absolute;
    right: 40%;
  }
  .live-7 {
    position: absolute;
    left: 5%;
  }
}

@media (max-width: 768px) {
  .live {
    height: 300px;
    background: rgba(0, 0, 0, 0.9);
  }
  .live-visual {
    width: 240px;
    height: 240px;
    position: relative;
    margin: 0 auto;
  }
  .slideshow img {
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 0;
    object-fit: cover;
    border: 5px double #f6f6f6;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .slideshow img {
    width: 100%;
    height: 100%;
  }
}

.active {
  padding: 48px 0;
  background: rgba(223, 223, 223, 0.9);
}

.active .active-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 48px;
}

.active video {
  width: 77vw;
  max-width: 720px;
  height: 50vw;
  max-height: 480px;
}

@media (max-width: 768px) {
  .active video {
    min-width: 300px;
    min-height: 170px;
  }
}

.active iframe {
  width: 77vw;
  max-width: 720px;
  height: 50vw;
  max-height: 480px;
}

@media (max-width: 768px) {
  .active iframe {
    min-width: 300px;
    min-height: 170px;
  }
}

.active-content {
  margin: 0 auto;
  text-align: center;
}

.active-content p {
  padding-bottom: 10px;
}

.yt {
  margin-top: 20px;
}

.yt p {
  margin: 5vw 0 2.5vw 0;
}

.social {
  width: 100%;
  padding: 48px 32px;
  background: rgba(0, 0, 0, 0.9);
  color: #F5F5F5;
}

.social-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 48px;
}

.social-wrap {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.social-icon a {
  color: #F5F5F5;
}

.social-text {
  text-align: center;
  padding: 48px 0;
  text-decoration: underline;
}
