@charset "UTF-8";
body {
  font-family: 'Acme', sans-serif;
  animation: fadein 3s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

a {
  color: #333333;
  text-decoration: underline;
  transition: all .3s;
}

a:hover {
  opacity: .5;
}

.section-title {
  padding: 24px 24px 24px 0;
  font-size: 40px;
  font-size: 2.5rem;
  font-size: bold;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
    font-size: 2rem;
    text-align: center;
  }
}

.contentwrap {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #e8e8e8;
}

.contentwrap .section-title {
  margin-bottom: 16px;
  color: #fcfcfc;
}

.contentwrap-inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}

@media screen and (max-width: 600px) {
  .contentwrap-inner {
    display: flex;
    flex-direction: column;
  }
}

.contentwrap-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contentwrap-top {
    display: flex;
    flex-direction: column;
  }
}

.sp-header {
  display: none;
}

.pc-header {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
}

.pc-header__nav {
  display: flex;
  justify-content: center;
  height: 48px;
  line-height: 48px;
}

.pc-header__list {
  margin: 0 32px 0 32px;
}

.pc-header__list a {
  color: #F5F5F5;
  position: relative;
  text-decoration: none;
}

.pc-header__list a::after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: -4px;
  left: 0;
  height: 0.1rem;
  background: #F5F5F5;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.pc-header__list a:hover::after {
  transform: scale(1, 1);
}

@media (max-width: 768px) {
  .pc-header {
    display: none;
  }
  .sp-header {
    display: block;
  }
  .drawer {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
  }
  #drawer-btn {
    position: fixed;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 120;
    transition: 0.3s;
    cursor: pointer;
  }
  #drawer-btn span {
    position: fixed;
    right: 10%;
    width: 45px;
    height: 3px;
    border-radius: 2px;
    background-color: #c2c1c1;
    transition: all .5s;
  }
  #drawer-btn span:nth-of-type(1) {
    top: 9px;
  }
  #drawer-btn span:nth-of-type(2) {
    top: 18px;
  }
  #drawer-btn span:nth-of-type(3) {
    top: 27px;
  }
  /* 最初のspanをマイナス45度に */
  #drawer-btn.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* 2番目と3番目のspanを45度に */
  #drawer-btn.open span:nth-child(2),
  #drawer-btn.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #drawer-menu {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  #drawer-menu .drawer-menu__hidden {
    width: 100%;
    height: calc(100% / 7);
    z-index: 110;
    cursor: pointer;
  }
  #drawer-menu .drawer-menu__hidden a {
    width: 30%;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #F5F5F5;
    text-decoration: none;
  }
}

body {
  overflow: auto;
}

body.open {
  overflow: hidden;
}

/* スクロール誘導 アニメーション設定 */
.arrowWrap {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
}

.arrowInner p {
  font-size: 14px;
  font-size: 0.875rem;
  text-align: end;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #f5f5f5;
}

.arrow {
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #0a0a0a;
  position: relative;
  overflow: hidden;
}

.arrow::before {
  content: '';
  width: 3px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #f5f5f5;
  position: absolute;
  top: -150px;
  left: 0;
  -webkit-animation: arrow 2.5s ease 0s infinite normal;
  animation: arrow 2.5s ease 0s infinite normal;
}

@keyframes arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
}

body::before {
  content: "";
  width: 100%;
  height: 100vh;
  display: block;
  background-image: url(../img/selfphoto1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(0);
}

.profile {
  color: #e8e8e8;
}

.profile .section-title {
  color: #fcfcfc;
}

.profile-name {
  width: 40vw;
  margin-left: auto;
  text-align: center;
  position: absolute;
  top: 20%;
  right: 5%;
  background: rgba(0, 0, 0, 0.3);
  white-space: pre-line;
}

@media (max-width: 768px) {
  .profile-name {
    width: 100%;
    position: absolute;
    top: 15%;
    right: 0;
    border-radius: 0;
  }
}

.profile-name__inner {
  width: 100%;
  font-size: 2.5vw;
  line-height: 2;
  letter-spacing: 8px;
}

@media (max-width: 768px) {
  .profile-name__inner {
    font-size: 20px;
  }
}

.profile-text .section-title {
  text-align: center;
}

.profile-text p {
  padding-bottom: 2em;
}

@media (min-width: 769px) {
  .profile-text {
    padding: 100vh 16px 128px 16px;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .profile-text {
    padding-top: 100vh;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  .profile-text .profile-text__about {
    width: 50%;
    line-height: 1.5;
    letter-spacing: 3px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.3);
  }
  .profile-text .profile-text__about .profile-text__about--link a {
    color: #9ebcf5;
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .profile-text .profile-text__about {
    padding: 0 16px 32px;
    background: rgba(0, 0, 0, 0.3);
    line-height: 1.5;
  }
  .profile-text .profile-text__about .profile-text__about--link a {
    color: #9ebcf5;
    text-decoration: underline;
  }
}

/* 下層ページ */
@media (min-width: 769px) {
  .profile-text--lower {
    padding: 50vh 32px 32px 32px;
    background: rgba(0, 0, 0, 0.3);
    line-height: 1.5em;
  }
}

@media (max-width: 768px) {
  .profile-text--lower {
    background: rgba(0, 0, 0, 0.3);
    padding: 80px 8px;
    line-height: 1.5em;
  }
}

@media (min-width: 769px) {
  .profile-text--lower .profile-text__about {
    width: 50%;
    line-height: 1.5;
    letter-spacing: 3px;
  }
}

@media (max-width: 768px) {
  .profile-text--lower .profile-text__about {
    padding: 0 16px 32px;
    background: rgba(0, 0, 0, 0.3);
    line-height: 1.5;
  }
}

.profile-text--lower p {
  padding-bottom: 2em;
}

.profile-text__about-detail {
  margin-top: 16px;
  text-align: center;
}

.profile-text__about-detail a {
  color: #9ebcf5;
}

.profile-text__about--last {
  text-align: center;
  margin-top: 16px;
}

.profile-text__about--last a {
  color: #9ebcf5;
}

.slideimg {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 40px 0;
}

/* 全体のスタイル */
.swiper-wrapper {
  width: 100%;
  height: 320px;
}

@media (max-width: 768px) {
  .swiper-wrapper {
    height: 240px;
  }
}

/* 全スライド共通スタイル */
.swiper-slide {
  color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 320px;
}

@media (max-width: 768px) {
  .swiper-slide {
    line-height: 240px;
  }
}

.swiper-slide:nth-child(1) {
  background-image: url(../img/selfslide2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(2) {
  background-image: url(../img/selfslide3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(3) {
  background-image: url(../img/selfslide5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news {
  width: 100%;
  padding: 48px 32px;
  background: rgba(254, 254, 254, 0.95);
}

@media (max-width: 768px) {
  .news {
    padding: 32px 16px;
  }
  .news .news__cap {
    max-width: 300px;
    object-fit: cover;
    margin: 2em auto;
  }
  .news .news__cap img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 769px) {
  .news .news__flex {
    display: flex;
    align-items: center;
  }
  .news .news__text-wrap {
    flex-grow: 1;
  }
  .news .news__cap {
    width: 600px;
    margin: 2em 2em 2em 0;
  }
  .news .news__cap img {
    width: 100%;
    height: 100%;
  }
}

.news .td-place {
  font-size: 14px;
  font-size: 0.875rem;
}

.news .td-join {
  font-size: 14px;
  font-size: 0.875rem;
}

.news table {
  width: 100%;
}

@media (min-width: 769px) {
  .news table tr {
    border-bottom: 3px solid #333333;
  }
  .news table th {
    padding: 16px;
  }
  .news table td {
    padding: 16px;
    line-height: 1.5;
  }
  .news table .td-event {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .news table .td-place::before {
    content: "［place］";
  }
}

@media (max-width: 768px) {
  .news table .td-time {
    border-top: 3px solid #333333;
    border-bottom: 3px solid #333333;
  }
  .news table th {
    display: none;
  }
  .news table td {
    display: block;
    width: 100%;
    line-height: 1.5;
  }
  .news table .td-event-title {
    display: inline-block;
    padding-bottom: 16px;
  }
  .news table .td-place {
    display: inline-block;
    padding-bottom: 16px;
  }
  .news table .td-join {
    display: block;
    margin-bottom: 24px;
  }
  .news table .td-event::before {
    content: "events:";
    display: block;
  }
  .news table .td-place::before {
    content: "place:";
    display: block;
  }
  .news table .td-join::before {
    content: "join:";
    display: block;
  }
}

.news-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.news__text {
  padding: 32px 0;
  line-height: 1.5;
  border-bottom: 2px solid #504f4f;
  color: #454545;
}

.news-dt {
  margin-bottom: 16px;
}

.news__text-content {
  margin: 0 1em .5em 0;
}

.news__text-content--bold {
  font-weight: bold;
}

.news__text-content a {
  color: #454545;
}

.news__box {
  background-color: rgba(12, 12, 12, 0.1);
  border: 2px solid #504f4f;
  border-radius: 5px;
  margin: 40px 5px 5px 20px;
  padding: 10px 20px 20px 20px;
  position: relative;
}

.news__box::before {
  background-color: #333333;
  border-radius: 5px;
  color: #fff;
  content: 'Dr.Tosh / 永井利充より';
  padding: 5px 20px;
  position: absolute;
  left: -10px;
  top: -20px;
}

.news__box-text {
  white-space: pre-line;
  line-height: 1.8;
}

.news__past {
  margin-top: 24px;
  text-align: center;
}

.live {
  height: 440px;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.live-visual {
  width: 400px;
  height: 400px;
  display: flex;
}

.slideshow {
  display: flex;
  animation: infinity-loop 30s infinite linear 1s both;
  /* 無限ループアニメーションの設定 */
}

@media (min-width: 769px) {
  .slideshow img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border: 5px double #f6f6f6;
  }
}

@media (max-width: 768px) {
  .live {
    height: 300px;
    background: rgba(0, 0, 0, 0.9);
  }
  .live-visual {
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
  }
  .slideshow img {
    object-fit: cover;
    border: 5px double #f6f6f6;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .slideshow img {
    width: 240px;
    height: 240px;
  }
}

/* 無限ループアニメーション */
@keyframes infinity-loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.sale {
  width: 50%;
  padding: 48px 24px 80px;
  color: #e8e8e8;
}

.sale a {
  text-decoration: underline;
  color: #e8e8e8;
}

@media (max-width: 768px) {
  .sale {
    width: 100%;
    padding: 24px 16px 56px;
    border-right: 1px solid #e8e8e8;
  }
}

.sale-subtitle {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .sale-subtitle {
    text-align: center;
  }
}

.sale-subtitle::before,
.sale-subtitle::after {
  content: "-";
  padding-right: 4px;
}

.sale-logo {
  width: 50%;
}

@media (max-width: 768px) {
  .sale-logo {
    margin: 0 auto;
  }
}

.sale-logo a img {
  width: 100%;
  transition: all .5s;
}

@media (max-width: 768px) {
  .sale-logo {
    width: 70%;
  }
  .sale-logo a img {
    width: 100%;
  }
}

.sale-logo a img:hover {
  opacity: .8;
}

.sale-text {
  margin-top: 16px;
  padding: 16px 0;
  line-height: 1.3em;
}

@media (max-width: 768px) {
  .sale-link {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.sale-link::before {
  content: ">";
  padding-right: 4px;
}

.talk {
  width: 50%;
  padding: 48px 24px 80px;
  color: #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.talk a {
  text-decoration: underline;
  color: #e8e8e8;
}

@media (max-width: 768px) {
  .talk {
    padding: 24px 8px;
    width: 100%;
    border-top: 1px solid #e8e8e8;
  }
}

.talk-about {
  margin-bottom: 32px;
}

.talk-title {
  text-align: center;
  padding: 24px;
  font-size: 24px;
  font-size: 1.5rem;
  font-size: bold;
}

.talk-heading {
  display: inline-block;
  text-align: left;
  padding: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.talk-heading::before {
  font-family: "Font Awesome 5 Free";
  content: "\f130";
  font-weight: 900;
  margin-right: 10px;
}

.talk-content {
  margin-bottom: 32px;
}

.talk-contents {
  width: 80%;
  margin: 0 auto;
  padding: 32px;
  position: relative;
  letter-spacing: 1.5;
  line-height: 1.5em;
  background: #f7f7f7;
  color: #333333;
  border-radius: 20px;
}

.talk-contents::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -8px;
  left: -40px;
  border: 16px solid transparent;
  border-right: 40px solid #f7f7f7;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.talk-contents p {
  margin-bottom: 1em;
}

.talk-contents__pre {
  width: 100%;
  white-space: pre-line;
}

.talk-close {
  width: 50%;
  margin: 32px auto 16px;
  display: flex;
  justify-content: center;
}

.talk-close__btn {
  width: 100%;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.9);
  color: #333333;
  border-radius: 10%;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .talk-heading {
    text-align: left;
  }
  .talk-contents {
    width: 90%;
  }
}

.talk-content__underlayer {
  padding: 80px 8px;
  background-color: rgba(0, 0, 0, 0.6);
}

.talk-heading__underlaye {
  font-size: 30px;
  font-size: 1.875rem;
  color: #eaeaea;
  text-decoration: none;
}

.talk-about__underlaye {
  padding-left: 32px;
  color: #eaeaea;
}

.talk-link__underlaye-top {
  margin-top: 32px;
  text-align: center;
  color: #eaeaea;
}

.talk-link__underlaye-top a {
  font-size: 20px;
  font-size: 1.25rem;
  color: #eaeaea;
}

@media (max-width: 768px) {
  .talk-heading__underlaye {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .talk-about__underlaye {
    padding-left: 16px;
  }
  .talk-link__underlaye-top a {
    font-size: 16px;
    font-size: 1rem;
  }
}

.active {
  width: 100%;
  max-width: 1200px;
  padding: 48px 24px;
  margin-bottom: 80px;
  border-top: 1px solid #e8e8e8;
}

.active .section-title {
  text-align: center;
}

@media (max-width: 768px) {
  .active {
    padding: 0 0 24px 0;
    position: relative;
  }
  .active::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 30%;
    background-color: #e8e8e8;
  }
}

.iframe {
  width: 40vw;
  height: calc(40vw * 0.5625);
  max-width: 500px;
  max-height: calc(500px * 0.5625);
}

.iframe iframe {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border: 1px solid #4f4f4f;
}

@media (max-width: 768px) {
  .iframe {
    margin: 0 auto;
    width: 85vw;
    height: calc(85vw * 0.5625);
  }
  .iframe iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #4f4f4f;
  }
}

.active-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .active-inner {
    display: flex;
    flex-direction: column;
  }
}

.active-content {
  text-align: center;
  margin-bottom: 80px;
}

.active-content p {
  padding-bottom: 10px;
}

.active-content a {
  color: #e8e8e8;
}

.social-name {
  margin-bottom: 16px;
}

.social-wrap {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .social-wrap {
    width: 80%;
    margin: 0 auto;
  }
}

.footer {
  position: relative;
}

.logo-wrap {
  height: 100vh;
  background-image: url(../img/Beard.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 769px) {
  .logo-speech {
    position: absolute;
    top: 10%;
    right: 5%;
  }
  .logo-speech img {
    width: 300px;
  }
  .logo-speech p {
    position: absolute;
    top: 28%;
    right: 30%;
    line-height: 32px;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .logo-speech {
    position: absolute;
    top: 10%;
    right: 0;
  }
  .logo-speech img {
    width: 250px;
  }
  .logo-speech p {
    position: absolute;
    top: 30%;
    right: 30%;
    line-height: 20px;
  }
}

@media (min-width: 401px) and (max-width: 450px) {
  .logo-speech {
    position: absolute;
    top: 10%;
    right: 0%;
  }
  .logo-speech img {
    width: 200px;
  }
  .logo-speech p {
    position: absolute;
    top: 25%;
    right: 20%;
    line-height: 20px;
  }
}

@media (max-width: 400px) {
  .logo-speech {
    position: absolute;
    top: 10%;
    right: 0%;
  }
  .logo-speech img {
    width: 180px;
  }
  .logo-speech p {
    position: absolute;
    top: 25%;
    right: 20%;
    line-height: 20px;
  }
}

.footer-area {
  width: 100%;
  height: 240px;
  position: absolute;
  top: calc(100vh - 240px);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #F5F5F5;
}

@media (max-width: 768px) {
  .footer-area {
    height: 200px;
    position: absolute;
    top: calc(100vh - 200px);
  }
}

.footer-area .footer-text {
  padding-top: 24px;
}

.footer-area .footer-text__title {
  padding: 8px 0;
  font-size: 24px;
  font-size: 1.5rem;
}

.footer-area .footer-text__about {
  text-align: left;
  padding-top: 8px;
  line-height: 1;
  letter-spacing: 2px;
}

.footer-area .footer-text a {
  color: #F5F5F5;
  text-decoration: underline;
}

.footer-area .footer-copy {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.footer-area__inner {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .footer-area__inner {
    width: 70%;
  }
}

@media screen and (max-width: 599px) {
  .footer-area__inner {
    width: 100%;
  }
}

.footer-area__past {
  width: 100%;
  height: 240px;
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #F5F5F5;
}

@media (max-width: 768px) {
  .footer-area__past {
    height: 200px;
  }
}

.footer-area__past .footer-text {
  padding-top: 16px;
}

.footer-area__past .footer-text__title {
  font-size: 24px;
  font-size: 1.5rem;
}

.footer-area__past .footer-text__about {
  padding-top: 8px;
  line-height: 1;
  letter-spacing: 2px;
}

.footer-area__past .footer-text a {
  color: #F5F5F5;
  text-decoration: underline;
}

.footer-area__past .footer-copy {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.contact {
  padding-top: 24px;
  text-align: center;
}

.contact a {
  color: #F5F5F5;
}
