.active {
  padding: 48px 0;
  background: rgba($color: #ffffff, $alpha: .9);

  .active-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 48px;
  }

  video {
    width: 77vw;
    max-width: 720px;
    height: 50vw;
    max-height: 480px;

    @include sp {
      min-width: 300px;
      min-height: 170px;
    }
  }

  iframe {
    width: 77vw;
    max-width: 720px;
    height: 50vw;
    max-height: 480px;

    @include sp {
      min-width: 300px;
      min-height: 170px;
    }
  }
}

.active-content {
  margin: 0 auto 24px;
  text-align: center;

  p {
    padding-bottom: 10px;
  }
}

.contents {
  margin-top: 20px;

  p {
    margin: 5vw 0 2.5vw 0;
  }
}

@include sp {
  .active {
    padding: 0 0 24px 0;
  }
}