.footer {
  position: relative;
}

.logo-wrap {
  height: 100vh;
  background-image: url(../img/Beard.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-speech {
  @include pc {
    position: absolute;
    top: 10%;
    right: 5%;
    img {
      width: 300px;
    }
    p {
      position: absolute;
      top: 30%;
      right: 30%;
      line-height: 32px;
    }
  }
  @media (min-width:451px) and ( max-width:768px) {
    position: absolute;
    top: 10%;
    right: 0;
    img {
      width: 250px;
    }
    p {
      position: absolute;
      top: 30%;
      right: 30%;
      line-height: 20px;
    }
  }
  @media (max-width:450px){
    position: absolute;
    top: 10%;
    right: 0%;
    img {
      width: 200px;
    }
    p {
      position: absolute;
      top: 25%;
      right: 20%;
      line-height: 20px;
    }
  }
}

.footer-area {
  width: 100%;
  height: 240px;
  position: absolute;
  top: calc(100vh - 240px);
  text-align: center;
  background-color: rgba($color: #000000, $alpha: .4);
  color: #F5F5F5;
  @include sp {
    height: 200px;
    position: absolute;
    top: calc(100vh - 200px);;
  }

  .footer-text {
    padding-top: 16px;
    &__title {
      @include fontsize(24);
    }
    &__about {
      padding-top: 8px;
      line-height: 1;
      letter-spacing: 2px;
    }
    a {
      color: #F5F5F5;
      text-decoration: underline;
    }
  }

  .footer-copy {
    position: absolute;
    bottom: 10%;
    left: 50%;
    @include centertransform;
  }
}