.footer {
  position: relative;
}

.logo-wrap {
  height: 100vh;
  background-image: url(../img/Beard.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-speech {
  @include pc {
    position: absolute;
    top: 10%;
    right: 5%;

    img {
      width: 300px;
    }

    p {
      position: absolute;
      top: 28%;
      right: 30%;
      line-height: 32px;
    }
  }

  @media (min-width:451px) and (max-width:768px) {
    position: absolute;
    top: 10%;
    right: 0;

    img {
      width: 250px;
    }

    p {
      position: absolute;
      top: 30%;
      right: 30%;
      line-height: 20px;
    }
  }

  @media (min-width:401px) and (max-width:450px) {
    position: absolute;
    top: 10%;
    right: 0%;

    img {
      width: 200px;
    }

    p {
      position: absolute;
      top: 25%;
      right: 20%;
      line-height: 20px;
    }
  }

  @media (max-width:400px) {
    position: absolute;
    top: 10%;
    right: 0%;

    img {
      width: 180px;
    }

    p {
      position: absolute;
      top: 25%;
      right: 20%;
      line-height: 20px;
    }
  }
}

.footer-area {
  width: 100%;
  height: 240px;
  position: absolute;
  top: calc(100vh - 240px);
  text-align: center;
  background-color: rgba($color: #000000, $alpha: .4);
  color: #F5F5F5;

  @include sp {
    height: 200px;
    position: absolute;
    top: calc(100vh - 200px);
  }

  .footer-text {
    padding-top: 24px;

    &__title {
      padding: 8px 0;
      @include fontsize(24);
    }

    &__about {
      text-align: left;
      padding-top: 8px;
      line-height: 1;
      letter-spacing: 2px;
    }

    a {
      color: #F5F5F5;
      text-decoration: underline;
    }
  }

  .footer-copy {
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    @include centertransform;
  }
}

.footer-area__inner {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}


@media screen and (min-width:600px) and (max-width:767px) {
  .footer-area__inner {
    width: 70%;
  }
}

@media screen and (max-width: 599px) {
  .footer-area__inner {
    width: 100%;
  }
}

.footer-area__past {
  width: 100%;
  height: 240px;
  position: relative;
  text-align: center;
  background-color: rgba($color: #000000, $alpha: .8);
  color: #F5F5F5;

  @include sp {
    height: 200px;
  }

  .footer-text {
    padding-top: 16px;

    &__title {
      @include fontsize(24);
    }

    &__about {
      padding-top: 8px;
      line-height: 1;
      letter-spacing: 2px;
    }

    a {
      color: #F5F5F5;
      text-decoration: underline;
    }
  }

  .footer-copy {
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    @include centertransform;
  }
}

.contact {
  padding-top: 24px;
  text-align: center;
}

.contact a {
  color: #F5F5F5;
}