.live {
  height: 440px;
  background: rgba(0, 0, 0, 0.9);
}

.live-visual {
  width: 400px;
  height:400px;
}

@include pc {
  .slideshow img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 5px double #f6f6f6;
  }

  .slideshow {
    padding-top: 20px;
  }
    .live-8 {
      position: absolute;
      left: 5%;
    }
    .live-9 {
      position: absolute;
      left: 20%;
    }
    .live-1 {
      position: absolute;
      left: 40%;
    }
    .live-2 {
      position: absolute;
      right: 5%;
    }
    .live-3 {
      position: absolute;
      right: 20%;
    }
    .live-4 {
      position: absolute;
      right: 40%;
    }
    .live-5 {
      position: absolute;
      left: 5%;
    }
    .live-6 {
      position: absolute;
      left: 20%;
    }
    .live-7 {
      position: absolute;
      left: 40%;
    }
}

@include sp {
  .live {
    height: 300px;
    background: rgba(0, 0, 0, 0.9);
  }

  .live-visual {
      width: 240px;
      height: 240px;
    position: relative;
    margin: 0 auto;
  }
  .slideshow img {
    @include sp {
      width: 100%;
      height: 100%;
    }
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 0;
    object-fit: cover;
    border: 5px double #f6f6f6;
  }
}