.load{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: rgb(247, 247, 247);
  z-index: 9999;

  img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-animation: loadimg 1500ms ease-out forwards infinite;
    animation: loadimg 1500ms ease-out forwards infinite;
  }
    @keyframes loadimg {
      from,to {
            width: 0;
      }
      50% {
            width: 10%;
      }
    }

  &__animation{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    color: rgb(19, 18, 18);
    -webkit-animation: loadanimetion 1500ms ease-out forwards infinite;
    animation: loadanimetion 1500ms ease-out forwards infinite;
  }
    @keyframes loadanimetion {
      from,to {
            opacity: 0;
      }
      50% {
            opacity: .5;
      }
    }

}