.logo-wrap {
  height: 100vh;
  background-image: url(../img/Beard.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: rgba($color: #ffffff, $alpha: .1);
}
