.sale {
  width: 50%;
  padding: 48px 24px 80px;
  color: #e8e8e8;

  a {
    text-decoration: underline;
    color: #e8e8e8;
  }
}

@include sp {
  .sale {
    width: 100%;
    padding: 24px 16px 56px;
    border-right: 1px solid #e8e8e8;
  }
}

.sale-subtitle {
  // @include fontsize(14);
  margin-bottom: 16px;
}

@include sp {
  .sale-subtitle {
    text-align: center;
  }
}

.sale-subtitle::before,
.sale-subtitle::after {
  content: "-";
  padding-right: 4px;
}

.sale-logo {
  width: 50%;
}

@include sp {
  .sale-logo {
    margin: 0 auto;
  }
}


.sale-logo a img {
  width: 100%;
  transition: all .5s;
}

@include sp {
  .sale-logo {
    width: 70%;
  }

  .sale-logo a img {
    width: 100%;
  }
}

.sale-logo a img:hover {
  opacity: .8;
}

.sale-text {
  margin-top: 16px;
  padding: 16px 0;
  line-height: 1.3em;
}

@include sp {
  .sale-link {
    @include fontsize(14);
  }
}

.sale-link::before {
  content: ">";
  padding-right: 4px;
}