.slideimg {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 40px 0;
}

/* 全体のスタイル */
.swiper-wrapper {
	width: 100%;
	height: 240px;
}
/* 全スライド共通スタイル */
.swiper-slide {
  color: rgba($color: #000000, $alpha: 0);
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 240px;
}

.swiper-slide:nth-child(1) {
  background-image: url(../img/selfslide2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(2) {
  background-image: url(../img/selfslide3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(3) {
  background-image: url(../img/selfslide4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
