.social {
  width: 100%;
  padding: 50px 32px 74px;
  background: rgba(0, 0, 0, 0.9);
  color: #e1e1e1;
}

.social-title {
  text-align: center;
  @include fontsize(30);
  margin-bottom: 24px;
}

.social-wrap {
  @include pc {
    width: 480px;
  }

  @include sp {
    width: 60%;
  }

  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.social-icon a {
  color: #F5F5F5;
}