.social {
  width: 100%;
  padding: 50px 32px;
  background: rgba(0, 0, 0, 0.9);
  color: #F5F5F5;
}

.social-title {
  text-align: center;
  @include fontsize(30);
  margin-bottom: 24px;
}

.social-wrap {
  width: 400px;
  @include sp {
    width: 50%;
  }
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.social-icon a {
  color: #F5F5F5;
}

.contact {
  padding-top: 48px;
  text-align: center;
}