body {
	font-family: "Acme", sans-serif;
	animation: fadein 3s forwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}

a {
	color: #333;
	text-decoration: underline;
	transition: all .3s;
}

a:hover {
	opacity: .7;
}
