.section-title {
	font-weight: bold;
	@include fontsize(40);
	padding: 24px 24px 24px 0;
}

@include sp {
	.section-title {
		@include fontsize(32);
		text-align: center;
	}
}

// saleからactiveまでのセクション
.contentwrap {
	background: rgba(0, 0, 0, .95);
	color: #e8e8e8;
	width: 100%;

	.section-title {
		color: #fcfcfc;
		margin-bottom: 16px;
	}
}

.contentwrap-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 24px;
}

@media screen and (max-width: 600px) {
	.contentwrap-inner {
		display: flex;
		flex-direction: column;
	}
}

.contentwrap-top {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;
}

@include sp {
	.contentwrap-top {
		display: flex;
		flex-direction: column;
	}
}
