.hareabout {
  padding: 32px;
  display: flex;
  justify-content: center;
  @include sp {
    padding: 24px 16px;
    flex-direction: column;
  }
}

.haremember {
  width: 40%;
  @include sp {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
}

.haredescription {
  width: 50%;
  @include sp {
    width: 100%;
  }
}

.hareabout__theme {
  @include fontsize(30);
  margin-bottom: 32px;
  @include sp {
    text-align: center;
    margin-bottom: 24px;
  }
}

.haremember__list {
  margin-bottom: 16px;
}

.haredescription__text {
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 1;
  @include sp {
    @include fontsize(14);
  }
}